*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.master{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.form-container{
    width: 50%;
    padding-top: 30px;
}

.error-box{
    border: none;
    background-color: #f4bca7;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: none;
}

.error-list{
    padding: 20px 25px 0 25px;
    line-height: 25px;
}

.show-error-box{
    display: block;
}